//

@import "./base";

@import "./variables/media-queries";
@import "./variables/colors";

@import "./components/navigation";
@import "./components/showcase";
@import "./components/pages";
@import "./components/footer";
@import "./components/contact-form";
@import "./components/freedemo";

@import "./ionicons/ionicons.scss";
// @import "./ionicons/ion.scss";

// .active {
//     color: forestgreen !important;
// }

.active-bg {
    background-color: green;

    .active {
        color: white !important;
    }
}

.active {
    background-color: $secondary;
    color: white !important;
}

nav .contact {
    h1 {
        text-align: center;
        line-height: 1.618;
    }
    span:nth-of-type(1) {
        display: none;

        @include size(lg) {
            display: inline-block;
        }
    }
}

.icon.ion-android-menu {
    color: $primary;
}

.social-media {
    width: 100%;
    padding: 0.97rem 1.47rem;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    @include size(md) {
        justify-content: flex-end;
    }
    ion-icon {
        color: $white;
        font-size: 32px;
        margin: 0 0.5rem;
        cursor: pointer;
        transition: all 650ms;

        &:hover {
            color: $primary;
        }
    }
}

img.facebook {
    // fill: white;
    width: 32px;
    height: 32px;
    transition: 650ms;
    transform: scale(0.8);
    cursor: pointer;
    // fill: #960996;

    &:hover {
        transform: scale(0.9);
    }
}

svg path {
    fill: white;
}
