//

@import "./base";

@import "./variables/media-queries";
@import "./variables/colors";

@import "./components/navigation";
@import "./components/showcase";
@import "./components/footer";

@import "./ionicons/ionicons.scss";

.active {
    color: forestgreen !important;
}

.active-bg {
    background-color: green;

    .active {
        color: white !important;
    }
}

// body {
//     background-color: red;
//     @include size(md) {
//         background-color: green;
//     }
// }

.with-sidebar {
    main {
        width: 95%;
        max-width: 960px;
        margin: 8.5rem auto 4rem auto;
        display: grid;
        grid-gap: 100px;
        grid-template-columns: 1fr;

        .sidebar {
            display: none;
            box-shadow: $shadow;

            .buttons {
                a.btn.btn-quote {
                    background-color: $white;
                    border: 2px solid $secondary;
                    color: $secondary;
                    border-radius: 0.5rem;
                    font-size: 1.4rem;
                    height: 1.8rem;
                    line-height: 1.6rem;
                    display: flex;
                    align-items: center;
                }
                a.btn.btn-demo {
                    background-color: $secondary;
                    border: 2px solid $white;
                    color: $white;
                    border-radius: 0.5rem;
                    font-size: 1.4rem;
                    height: 1.8rem;
                    line-height: 1.6rem;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .content {
            text-align: justify;
            width: 100%;
            max-width: 699px;
            display: grid;

            p,
            .card__content__text {
                font-size: 1.6rem;
                line-height: calc(1.6rem * 1.618);
            }

            h1 {
                order: 1;
                padding: 1.5rem 1rem;
                text-transform: uppercase;
            }

            .infor__image {
                order: 3;
                margin-top: 3rem;
            }

            p {
                order: 2;
                margin-top: 2.5rem;
            }
        }
    }

    @include size(sm) {
        main {
            width: 80%;
            margin: 15rem auto 4rem auto;
        }
    }

    @include size(md) {
        main {
            width: 100%;
            max-width: 960px;
            grid-template-columns: 3fr 9fr;

            .sidebar {
                display: block;
                background-color: $primary;

                h3 {
                    color: $white;
                    padding: 1.5rem 1rem;
                    font-size: 1.6rem;
                    letter-spacing: 0.2rem;
                    border-bottom: 2px solid rgba($black, 0.2);
                }

                ul {
                    margin-bottom: 4rem;

                    li {
                        &:hover {
                            background-color: $secondary;
                        }
                        a {
                            color: $white;
                            display: block;
                            height: 3rem;
                            width: 100%;
                            line-height: 3rem;
                            padding-left: 1rem;
                            font-size: 1.2rem;
                            letter-spacing: 1.3px;
                            text-transform: uppercase;
                        }
                    }
                }
                .buttons {
                    display: grid;
                    grid-gap: calc(1rem * 1.618);

                    a {
                        color: $white;
                        font-size: 1.2rem;
                        letter-spacing: 1.3px;
                        text-transform: uppercase;
                        width: 90%;
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}

nav .contact {
    h1 {
        text-align: center;
        line-height: 1.618;
    }
    span:nth-of-type(1) {
        display: none;
    }
}

.icon.ion-android-menu {
    color: $primary;
}
