footer {
    background-color: #343434;
    // margin-top: 30vh;

    .footer-navigation {
        width: 100%;
        max-width: 920px;
        margin: 0 auto;

        &__container {
            padding-top: 2rem;
            display: grid;
            grid-gap: 0.97rem;
            grid-template-columns: 1fr;
            width: 90%;
            margin: 0 auto;
            @include size(sm) {
                grid-template-columns: repeat(5, 1fr);
                width: 100%;
            }
            color: $white;
            h3 {
                padding: 1rem 0;
                font-weight: 600;
                font-size: 1.3rem;
                letter-spacing: 0.1rem;
                border-bottom: 0.5px solid #f1f1f1;
            }
            li {
                // height: 2rem;

                a {
                    color: $white;
                    display: block;
                    width: 100%;
                    // line-height: 2rem;
                    height: 3rem;
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .copyright {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        color: $white;
        justify-content: center;
        background-color: darken(#343434, 5);
        text-transform: uppercase;
    }
}

main.support {
    width: 100%;
    max-width: 920px;
    margin: 8.5rem auto 2rem auto;

    section:nth-of-type(1) {
        h2 {
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        p {
            font-size: 1.6rem;
        }
    }

    section {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    & > .content > h2 {
        padding-top: 2rem;
        padding-bottom: 4rem;
        color: $primary;
        text-align: center;
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding-top: 4rem;

    .card__content__text {
        font-size: 1.6rem;
        line-height: calc(1.6rem * 1.618);
    }

    @include size(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        &__1,
        &__2,
        &__3,
        &__4 {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 2fr 10fr;
        }

        &__content__heading {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
    }
}

main.leadership-team {
    .content {
        display: grid;
        h1 {
            order: 1;
        }
        .leader {
            margin-top: 3rem;
            margin-bottom: 1rem;
            order: 2;
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 2fr 10fr;

            .details {
                h3 {
                    margin-bottom: 0.5rem;
                    font-size: 1.6rem;
                }
                p {
                    margin-top: 0px;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}
