/*
/* Main Scss file for the navigation
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 999;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

// .menu-icons {
//   color: #eee;
//   font-size: 4rem;
//   position: absolute;
//   top: 50%;
//   right: 2rem;
//   transform: translateY(-50%);
//   cursor: pointer;
//   z-index: 9999;
//   display: none;
// }

.menu-icons {
    font-size: 3rem;
    color: #eee;
    display: none;
    z-index: 9999;
    cursor: pointer;
    grid-column: 3;
    align-items: flex-end;
}

nav {
    // display: flex;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8rem;
    padding: 1.5rem 0;
    @include size(md) {
        height: 12rem;
        padding: 0;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // position: relative;
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "logo contact contact"
        "logo nav nav";
}

.logo {
    grid-area: logo;
    grid-column: 1;
    grid-row: 1/3;
    height: 100%;
    // overflow: hidden;
}
nav .contact {
    grid-area: contact;
    grid-row: 1;
    height: 100%;
}
.nav-list {
    grid-area: nav;
    grid-row: 2;
    height: 100%;
}

.logo {
    // background-color: #eb3007;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    min-width: 109px;
}

// .logo i {
//   margin: auto;
//   font-size: 3rem;
//   color: #eee;
// }

.nav-list {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-list li {
    line-height: 8rem;

    @include size(md) {
        line-height: 2rem;
    }
    position: relative;
}

.sub-menu li {
    line-height: 4rem;
    // @include size(md) {
    //     line-height: 2rem;
    // }
}

.nav-list a {
    display: block;
    color: #333;
    padding: 0 1.5rem;
    font-size: 1.4rem;

    @include size(md) {
        font-size: 1.2rem;
    }
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a:hover {
    color: #eb3007;
}

.btn {
    padding: 1.1rem 0.7rem;
    display: inline-block;
    background-color: $primary; //#eb3007
    border: 2px solid $primary; //#eb3007
    border-radius: 0.5rem;
    transition: background-color 650ms;

    a {
        color: $white;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}

.btn:hover {
    background-color: transparent;
    a {
        color: $primary;
    }
}

.sub-menu {
    width: 100%;
    @include size(md) {
        width: 20rem;
    }
    display: block;
    position: absolute;
    border-top: 3px solid #eb3007;
    background-color: #191919;
    z-index: 100;
    top: 16rem;
    @include size(md) {
        top: 4rem;
    }
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}

.sub-menu li a {
    color: $white;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem transparent solid;
    border-bottom-color: #eb3007;
}

.sub-menu .sub-menu::before {
    top: 0.9rem;
    left: -2.5rem;
    border: 1.2rem transparent solid;
    border-right-color: #eb3007;
}

// .has-dropdown {
//   position: relative;
// }

.sub-menu .sub-menu {
    border-top: none;
    border-left: 3px solid #eb3007;
    top: 0;
    left: 160%;
    // position: absolute;
}

.nav-list li:hover > .sub-menu {
    top: 8rem;
    @include size(md) {
        top: 3.5rem;
    }
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover > .sub-menu {
    top: 0;
    left: 100%;
}

li.move-right {
    margin: auto 0 auto auto;
    line-height: initial;
}

@media screen and (max-width: 850px) {
    .nav-list {
        position: fixed;
        padding-bottom: 3rem;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: initial;
        background-color: $primary; //#191919
        z-index: 9998;
        overflow-y: scroll;
        overflow-x: hidden;

        a {
            color: $white;

            &:hover {
                color: $secondary;
            }
        }
    }

    .nav-list > li {
        line-height: 6rem;
    }

    .sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: $white; //#eb3007
        margin-left: 1rem;
        max-height: 0;
        background-color: transparent; //>
    }

    .sub-menu .sub-menu {
        border-top: none;
        border-left: 3px solid $white; //#eb3007
    }

    .sub-menu::before {
        display: none;
    }
    .nav-list li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    // .sub-menu li:hover > .sub-menu{
    //   top: 0;
    //   left: 100%;
    // }

    li.move-right {
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .menu-icons {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        height: 8rem;
    }

    .ion-close {
        display: none;
    }

    nav.active .ion-close {
        display: block;
        transform: translateX(-10px);
    }

    nav.active .ion-android-menu {
        display: none;
    }

    nav.active .nav-list {
        display: flex;
    }
}

// header {
//   background-color: #333;
// }

// header {
//   display: grid;
//   // padding: 5px;

//   .logo {
//     height: 30px;
//     line-height: 30px;
//     background-color: darken(#333, 10);
//     padding: 5px;
//   }

//   .menu {
//     padding: 5px;

//     .menu-i {
//       padding-left: 5px;
//     }

//     .menu-ii {
//       padding-left: 5px;
//     }
//   }

//   ul {
//     list-style-type: none;
//     display: block;
//   }

//   a {
//     color: #f9f9f9;
//     text-decoration: none;
//     display: block;
//     width: 100%;
//     height: 1.5rem;
//     line-height: 1.5rem;
//     text-transform: uppercase;
//   }

//   nav ul a {
//     border-bottom: 1px solid #999;
//     font-size: 12px;
//   }
// }
// .contact {
//   // flex: 1;
//   position: absolute;
//   top: 0;
//   right: 0;
//   margin-left: auto;
//   width: calc(100% - 5vw);
//   display: flex;
//   justify-content: center;
// }

@media screen and (max-width: 850px) {
    nav .contact {
        // flex: 1;
        position: absolute;
        top: 50%;
        // right: 0;
        transform: translateY(-50%);
        margin-left: auto;
        width: calc(100% - 5vw);
        display: flex;
        justify-content: center;
    }
}

// .contact {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // flex-basis: 350px;
// }

nav .contact {
    color: #7f7f7d;
    font-size: 11px;
    display: flex;
    // flex: 1;
    justify-content: center;
    width: 60%;
    margin-left: 25%;

    @include size(md) {
        width: 100%;
        margin-left: 0;
        justify-content: center;
        flex: 1;
    }
    align-items: center;
    li.move-right.btn {
        display: none;

        @include size(lg) {
            display: inline-block;
        }
    }
}

#slider {
    width: 100%;
}
